*{
	margin: 0px;
	padding: 0px;
}
li{
	list-style-type: none;
}
#top{
	width: 100%;
	height: 260px;
	background: url(../img/solution.png) center center;
	background-repeat:no-repeat ;
	background-size:cover;
}
#top>div{
	width: 100%;
	height: 200px;
	background: rgba(0,0,0,0.3);
}
#top p:first-of-type{
	padding-top:45px ;
}
#top p{
	text-align: center;
	color: white;
	font-size: 14px;
	font-family: "楷体";
	margin-bottom: 30px;
}
#topMenu{
	width: 100%;
	height: 60px;
	background: rgba(0,0,0,0.2);
}
#topMenu td{
	height: 60px;
	text-align: center;
	color: white;
	line-height: 60px;
}
#topMenu td:first-of-type{
	width: 25%;
	font-family: "微软雅黑";
	font-size: 18px;
}
#topMenu td:nth-of-type(2){
	width: 50%;
	font-family: "楷体";
	font-size: 20px;
}
#topMenu td:last-of-type{
	width: 25%;
	text-align: right;
}
#topMenu td:last-of-type>img{
	width: 20px;
	height: 15px;
	vertical-align: middle;
	margin-right: 20px;
}
#middle{
	width: 100%;
	margin-top: 38px;
}
#middle>li>img{
	width: 100%;
	height: 200px;
}
#middle>li{
	width: 90%;
	font-size: 14px;
	font-family: "楷体";
	color: #444444;
	margin: 0px auto 30px auto;
	line-height: 25px;
}
.sideslip{
	position: fixed;
	top: 0px;
	right: 0px;
	width: 80%;
	height: 100%;
	margin-right: -80%;
	transition: 0.7s;
	background: rgba(5,6,8,0.7);
}
.show{
	margin-right: 0;
}
#sideslip>span{
	display: inline-block;
	width: 100%;
	height: 60px;
	text-align: right;
	line-height: 60px;
}
#sideslip>span>img{
	width: 15px;
	height: 15px;
	vertical-align: middle;
	margin-right: 22px;
}
#sideslip>ul{
	width: 100%;
	height:612px ;
}
#sideslip>ul>li{
	color: #c2c2c2;
	width: 90%;
	height: 50px;
	font-family: "楷体";
	font-size: 18px;
	line-height: 50px;
	border-bottom: 1px solid #565252;
	margin: auto;
}
#sideslip>ul>li>a{
	color: #c2c2c2;
	text-decoration: none;
}
#sideslip>ul>li:nth-of-type(3) a{
	color:white;
}

#sideslip>ul>p{
	width: 60%;
	height: 32px;
	line-height: 32px;
	font-family:"楷体" ;
	font-size: 16px;
	margin: auto;
	display: none;
}
#sideslip>ul>p>a{
	color: #c2c2c2;
	text-decoration: none;
}
#sideslip>ul>li:hover{
	color: white;
}
#sideslip>ul>li>a:hover{
	color: white;
}
#sideslip p>a:hover{
	color:#ffd02e ;
}
